<article class="content-preview" *ngIf="!!focusedItem">

  <header>
    <!-- NAME -->
    <h3>{{ focusedItem.name | translate }}</h3>

    <!-- IF company or diploma -->
    <h4 *ngIf="focusedItem.company || focusedItem.school">
      <span class="content-prefix">{{ "at" | translate }}</span>&nbsp;
      <span *ngIf="focusedItem.company">{{ focusedItem.company.name | translate }}</span>
      <span *ngIf="focusedItem.school">{{ focusedItem.school.name | translate }}</span>
    </h4>

    <!-- IF project -->
    <h4 *ngIf="focusedItem.client">
      <span class="content-prefix">{{ "for" | translate }}</span>&nbsp;
      {{ focusedItem.client.name | translate }}
    </h4>
  </header>

  <!-- DATE -->
  <p>
    {{ focusedItem.dates.start | date : "MMM yyyy" }}
    <span class="content-prefix">{{ "to" | translate }}</span>
    {{ (focusedItem.dates.end | date : "MMM yyyy") || ("present" | translate) }}
  </p>

  <!-- DESC -->
  <p>{{ focusedItem.desc | translate | ellipsis:200 }}</p>

</article>
