.wrap-preview {
  position: fixed;
  padding-left: $gap-big;
  width: 40%;

  h2 {
    margin: 0px auto $gap-reg;
  }

  h4 > .content-prefix {
    font-size: $font-small;
  }

  .img-float {
    width: $img-md;
  }

  .img-label {
    width: calc(#{$img-md} + 15px);
  }

  .header-sub {
    margin: $gap-sm 0px;
  }
}
