<div class="content-preview" *ngIf="!!focusedItem">

  <!-- NAME -->
  <h3>{{ focusedItem.name | translate }}</h3>

  <!-- IF company or diploma -->
  <h4 *ngIf="focusedItem.company || focusedItem.school">
    <span class="content-prefix">{{ "at" | translate }}</span>&nbsp;
    <span *ngIf="focusedItem.company">{{ focusedItem.company.name | translate }}</span>
    <span *ngIf="focusedItem.school">{{ focusedItem.school.name | translate }}</span>
  </h4>

  <!-- IF project or diploma -->
  <h4 *ngIf="focusedItem.project || focusedItem.school">
    <span class="content-prefix">{{ "for" | translate }}</span>&nbsp;
    <span *ngIf="focusedItem.project">{{ focusedItem.project.name | translate }}</span>
    <span *ngIf="focusedItem.school">{{ focusedItem.school.name | translate }}</span>
  </h4>

  <!-- DATE -->
  <p>{{ focusedItem.dates.start | date : "MMM yyyy" }}</p>

  <!-- DESC -->
  <p>{{ focusedItem.desc | translate | slice:0:200 }}...</p>

</div>
