.btn:focus {
  outline: none;
}

.btn-primary {
  @include drop-shadow(false, 3px, 3px, 3px, 0px, $grey);
  background-color: $grey;
  border: none;
  border-radius: 0px;
  min-width: 100px;
  padding: 10px;
  transition: 0.3s ease-in;

  &:hover,
  &:active {
    @include drop-shadow(false, 5px, 5px, 3px, 0px, $grey);
    @include transform(translateX(-3px));
    background-color: $primary;
  }
}
