.card-reg {
    height: 150px;

    .card-image,
    .card-info {
        height: 100%;
        padding: 0 20px;

        img {
            @include square($img-big);
            margin-top: calc(#{$img-big} / 2);
        }
    }
}
