.card {
    padding: 0;
    height: 150px;

    .card-image,
    .card-info {
        height: 100%;

        img {
            margin-top: calc(#{$img-big} / 2);
            width: $img-big;
        }
    }
}
