.card-reg {
    @include drop-shadow(false, 3px, 3px, 3px, 0px, $grey);
    background: linear-gradient(to right, $dark 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    border: 0;
    border-radius: 0;
    height: $card-height;
    position: relative;
    transform-origin: left 0% 0; // for scaling from top to bottom
    transition: 0.15s ease;

    .card-image,
    .card-info,
    .card-link {
        padding: 20px;
    }

    .card-info {
        h3 {
            font-size: $font-big;
            margin-top: $padding-sm;
        }

        p {
            font-size: $font-small;
        }
    }

    .card-link {
        @include position(absolute, auto, 0px, 0px, auto);

        .btn-card {
            @extend .btn-reg;
            float: right;
        }
    }

    &:hover,
    &:focus {
        background-position: left bottom;
        color: $light;

        .btn-card {
            @include btn-anim();

            &:hover {
                color: $light;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .card-reg {
        @include drop-shadow(false, 0px, 3px, 3px, 0px, $grey);
        height: auto;

        .card-link {
            @include position(relative, auto, 0px, 0px, auto);
        }
    }
}
