.container-stretch {
  @extend %no-padding;
  position: relative;
  .row {
    @extend %no-margin;
  }
}

.container-dual {
  display: flex;
  margin-right: 0;

  .container-select {
    padding-right: 0;
  }

  .container-preview {
    background-color: $grey;
    color: $light;
  }
}
