.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;

  * {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.ellipsis-one-line {
  @extend .ellipsis;
  white-space: nowrap;
}

.ellipsis-two-lines {
  @extend .ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
