// Overwrite default font path from bootstrap
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/glyphicons-halflings-regular.woff2') format('woff2'),
       url('fonts/glyphicons-halflings-regular.woff') format('woff'),
       url('fonts/glyphicons-halflings-regular.ttf') format('truetype'),
       url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

// Default browser font size is 10px
html {

  body {
    color: $dark;
    font-family: sans-serif, Georgia;
    font-size: 62.5%; // 1em = 10px

    main,
    section,
    article {
      font-size: $font-base;
    }
  }
}

