img {
  width: 10%;
}

.img-md {
  @include square($img-md);
}

.img-group {
  @include flex-layout(wrap, flex-start, flex-start, flex-start);

  .img {
    margin: 10px
  }
}

// Rounded containe for images
.img-round {
  @include round($img-big);
  @include drop-shadow(false, 0px, 3px, 3px, 0px, $grey);
  background-color: $light;
  padding: calc(#{$img-md} / 4);

  img {
    @extend .img-md;
  }
}
