img {
  width: 10%;
}

.img-group {
  @include flex-layout(wrap, flex-start, flex-start, flex-start);

  .img {
    margin: 10px
  }
}

// Rounded containe for images
.img-round {
  @include round($img-big);
  @include drop-shadow(false, 0px, 3px, 3px, 0px, $grey);
  background-color: $light;
  padding: calc(#{$img-md} / 4);

  img {
    @include square($img-md);
  }
}

.img-round-link {
  @extend .img-round;
  @include round($img-mega);
  transition: all 0.4s ease;

  &:hover {
    @include drop-shadow(false, 0px, 6px, 6px, 0px, $grey);
    transform: translateY(-5px);
  }

  img {
    @include square($img-big);
  }
}
