.jumbotron {
  &.wrap-jumbo {
    @include drop-shadow(false, 3px, 3px, 3px, 0px, $grey);
    background-color: $light;
    border-radius: 0;
  }

  &.wrap-jumbo--sm {
    @extend .wrap-jumbo;
    max-width: 50%;
    margin: auto auto 30px;
  }
}

.img-jumbo {
  text-align: center;

  img {
    width: 75%;
  }
}

.btn-jumbo {
  .btn {
    float: right;
  }
}

.btn-group-jumbo {
  .btn {
    margin: auto 10px;
  }
}

@media screen and (max-width: 768px) {
  .jumbotron.wrap-jumbo {
    @include drop-shadow(false, 0px, 3px, 3px, 0px, $grey);
  }
  .img-jumbo img {
    width: 50%;
  }
}
