ul,
ol {
  li {
    list-style: none;
  }
}

.list-group {
  height: 100%;
  margin-bottom: 0;

  .list-group-item {
    @extend %no-border;
    background-color: $grey;
    color: $light;
    padding: 10px;

    &:first-child,
    &:last-child {
      @extend %no-radius;
    }

    &.active {
      background-color: $light;
      color: $grey;
    }
  }
}

.list-group-item {

  label {
    display: block;
  }

  .list-icn {
    @include round(50px);
    padding: 12px; // image size / 2
    @include drop-shadow(false, 0px, 3px, 3px, $grey);
    background-color: $light;
    img {
      @include square($img-sm);
    }
  }
}

@media (max-width: 768px) {
  .list-icn {
    margin-bottom: 15px;
  }
  .list-label {
    display: block;
  }
}

@media (min-width: 768px) {
  .list-label,
  .list-icn {
    margin-left: 20px;
  }
}