ul,
ol {
  li {
    list-style: none;
  }
}

.list-group {
  margin-bottom: 0;

  .list-group-item {

    &:first-child,
    &:last-child {
      @extend %no-radius;
    }

    &.active {
      background-color: $primary;
    }
  }
}
