ul,
ol {
  li {
    list-style: none;
  }
}

.list-group {
  margin-bottom: 0;
  min-height: 400px; // Prevent footer overlapping preview description when not enough item

  .list-group-item {
    @extend %no-border;
    background-color: $grey;
    color: $light;
    padding: 15px;

    &:first-child,
    &:last-child {
      @extend %no-radius;
    }

    &.active {
      background-color: $light;
      color: $grey;
    }
  }
}

.list-group-item {

  label {
    display: block;
    height: calc(#{$img-md} + 5px); // we add 5 pixels for preventing the shadow to be cut (overflow: hidden)
  }

  .list-icn {
    @include round(50px);
    padding: 12px; // image size / 2
    @include drop-shadow(false, 0px, 3px, 3px, 0px, $grey);
    background-color: $light;
    img {
      @include square($img-sm);
    }
  }
}

@media (max-width: 768px) {
  .list-icn {
    margin-bottom: 15px;
  }
  .list-label {
    display: block;
  }
}

@media (min-width: 768px) {
  .list-label,
  .list-icn {
    margin-left: 20px;
  }
}