<div class="container" [@routeTrans]="'true'">

  <main id="home-intro" class="jumbotron wrap-jumbo">
    <profile-main [profile]="profile"></profile-main>
  </main>

  <section id="home-projects">
    <h2>{{ 'homeTitle0' | translate }}</h2>

    <div class="img-group">
      <figure class="img-wrap" *ngFor="let project of projects" [hidden]="project.client === null || !project.client?.featured">
        <span class="img img-round">
            <img [src]="project.client?.logo" [alt]="project.client?.name">
        </span>
        <figcaption class="img-label">{{ project.client?.name }}</figcaption>
      </figure>
    </div>
  </section>

  <section id="home-skills">
    <h2>{{ 'homeTitle1' | translate }}</h2>

    <div class="img-group">
      <figure class="img-wrap" *ngFor="let skill of skills" [hidden]="!skill.featured || !skill.frequent">
        <span class="img img-round">
            <img [src]="skill.image" [alt]="skill.name">
        </span>
        <figcaption class="img-label">{{ skill.name }}</figcaption>
      </figure>
    </div>
  </section>

  <section id="home-milestones">
    <h2>{{ 'homeTitle2' | translate }}</h2>



    <!--<ul>-->
      <!--<li *ngFor="let diploma of diplomas">-->
        <!--<h3>{{diploma.id}}</h3>-->
      <!--</li>-->
    <!--</ul>-->
    <!--<ul>-->
      <!--<li *ngFor="let role of roles">-->
        <!--<h3>{{role.name}}</h3>-->
      <!--</li>-->
    <!--</ul>-->
  </section>

</div>
