<div class="wrap-home" [@routeTrans]="'true'">

  <main id="home-intro" class="container jumbotron wrap-jumbo">
    <profile-main [profile]="profile"></profile-main>
  </main>

  <section class="container-fluid">
    <div class="img-group">
    <header class="header-sub"><h2>{{ 'homeTitle0' | translate }}</h2></header>

    <figure class="img-wrap" *ngFor="let project of projects" [hidden]="project.client === null || !project.client?.featured">
      <a class="img img-round--big img-link" [href]="project.url" target="_blank"><img [src]="project.client?.logo" [alt]="project.client?.name"></a>
      <figcaption class="img-label">{{ project.client?.name }}</figcaption>
    </figure>
    </div>
  </section>

  <section id="home-contact" class="container jumbotron wrap-jumbo">
    <div class="row">

      <div class="content-jumbo col-xs-12 col-sm-8">
        <h2>{{ 'aboutTitle3' | translate }}</h2>
        <address>
          <p><a href={{profile.email}}>Kevin Liozon</a></p>
          <p>{{profile.city}}</p>
          <p>{{profile.country}}</p>
        </address>
        <p>{{ 'homeText4' | translate }}</p>
      </div>

      <figure class="col-xs-12 col-sm-4 img-jumbo">
        <img [src]="profile.images.place">
      </figure>

    </div>
  </section>

  <section class="container">
    <div class="img-group">
    <header class="header-sub"><h2>{{ 'homeTitle1' | translate }}</h2></header>

    <figure class="img-wrap" *ngFor="let skill of skills" [hidden]="!skill.featured || !skill.frequent">
      <img class="img img-float" [src]="skill.image" [alt]="skill.name">
      <figcaption class="img-label">{{ skill.name }}</figcaption>
    </figure>
    </div>
  </section>

</div>
