<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <!-- Burger menu -->
          <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" [routerLink]="'home'" (click)="setTitle('Home')">
          <img class="header-logo" src="assets/img/svg/perso/monogram.svg" alt="Kevin Liozon">
          <span class="header-label">Kevin Liozon</span>
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-route" *ngFor="let tab of menu" routerLinkActive="active">
            <a [routerLink]="[tab.key]" (click)="setTitle(tab.value)">{{ tab.value }}</a>
          </li>
          <li class="dropdown nav-lang">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <img src="{{ currentFlag }}" /><span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <!--languages-->
              <li *ngFor="let lang of supportedLanguages"
                  (click)="selectLang(lang.value, lang.flag)" [class.selected]="isCurrentLang(lang.value)">
                  <a>{{ lang.display }}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="page-header">
    <h1>{{ title }}</h1>
  </div>
</header>
