<section id="about-start">
  <h2>{{ 'aboutTitle1' | translate }}</h2>
  <p>{{ 'aboutText1' | translate }}</p>
  <a href="about#about-archi">{{ "more" | translate }}</a>
</section>
<section id="about-fed">
  <h2>{{ 'aboutTitle2' | translate }}</h2>
  <p>{{ 'aboutText2' | translate }}</p>
  <a href="about#about-archi">See my Front-End skills</a>
</section>
<section id="about-ux">
  <h2>{{ 'aboutTitle3' | translate }}</h2>
  <p>
    {{ 'aboutText3' | translate }}
  </p>
  <a href="#">See my UX skills</a>
</section>
<main id="about-archi">
  <h2>{{ 'aboutTitle4' | translate }}</h2>
  <p>
    {{ 'aboutText4' | translate }}
</p>
</main>
<h2>{{ 'aboutTitle5' | translate }}</h2>
<address>
  <p><a href={{details.email}}>Kevin Liozon</a></p>
  <p>{{details.street}}</p>
  <p>{{details.city}}</p>
  <p>{{details.country}}</p>
</address>
<h2>{{ 'aboutTitle6' | translate }}</h2>
<div class="row">
  <div class="col-sm-6 col-md-4"  *ngFor="let tool of tools">
    <my-card [object]="tool" *ngIf="tool.featured"></my-card>
  </div>
</div>
<h2>{{ 'aboutTitle7' | translate }}</h2>
<div class="row">
  <div class="col-sm-6 col-md-4" *ngFor="let hobby of hobbies">
    <my-card [object]="hobby"></my-card>
  </div>
</div>
