<div class="container" [@routeTrans]="'true'">

  <main>
    <article id="about-start" class="jumbotron wrap-jumbo">
      <h2>{{ 'aboutTitle0' | translate }}</h2>
      <p>{{ 'aboutText0' | translate }}</p>

      <h4>{{ 'aboutTitle7' | translate }}</h4>

      <div class="img-group">
        <div class="img-wrap" *ngFor="let skill of skillsDev; let i=index">
          <span class="img img-round" *ngIf="i < 5">
              <img [src]="skill.image" [alt]="skill.name">
          </span>
          <div class="img-label">{{ skill.name }}</div>
        </div>
      </div>
    </article>

    <article id="about-fed" class="jumbotron wrap-jumbo">
      <h2>{{ 'aboutTitle1' | translate }}</h2>
      <p>{{ 'aboutText1' | translate }}</p>

      <h4>{{ 'aboutTitle7' | translate }}</h4>

      <div class="img-group">
        <div class="img-wrap" *ngFor="let skill of skillsDesign; let i=index">
          <span class="img img-round" *ngIf="i < 5">
              <img [src]="skill.image" [alt]="skill.name">
          </span>
          <div class="img-label">{{ skill.name }}</div>
        </div>
      </div>
    </article>

    <article id="about-ux" class="jumbotron wrap-jumbo">
      <h2>{{ 'aboutTitle2' | translate }}</h2>
      <p>{{ 'aboutText2' | translate }}</p>
    </article>
  </main>

  <section id="about-place" class="jumbotron wrap-jumbo">
    <h2>{{ 'aboutTitle4' | translate }}</h2>
    <address>
      <p><a href={{details.email}}>Kevin Liozon</a></p>
      <p>{{details.city}}</p>
      <p>{{details.country}}</p>
    </address>
  </section>

  <section id="about-achiev">
    <h2>{{ 'aboutTitle3' | translate }}</h2>
    <div class="row">
      <my-card
        class="col-xs-12 col-sm-4 col-md-3"
        *ngFor="let project of projects"
        [object]="project"
        [hidden]="project.featured !== true">
      </my-card>
    </div>
  </section>

  <section id="about-tools">
    <h2>{{ 'aboutTitle5' | translate }}</h2>
    <div class="row">
      <my-card
        class="col-xs-12 col-sm-4 col-md-3"
        *ngFor="let tool of tools"
        [hidden]="!tool.featured"
        [object]="tool">
      </my-card>
    </div>
  </section>

  <section id="about-hobbies">
    <h2>{{ 'aboutTitle6' | translate }}</h2>
    <div class="row">
      <my-card class="col-xs-12 col-sm-4 col-md-3" *ngFor="let hobby of hobbies" [object]="hobby"></my-card>
    </div>
  </section>

</div>