<article class="card-reg thumbnail">

  <div class="row">

    <section class="card-image col-xs-4">
      <figure class="img img-round--sm">
        <img [src]="object.image || object.badge" [alt]="object.name || object.title">
      </figure>
    </section>

    <section class="card-info col-xs-8">
        <header>
          <h3>{{ object.name || object.title | translate }}</h3>
        </header>

        <p *ngIf="object.desc">{{ object.desc | translate | ellipsis:75 }}</p>
    </section>

    <!-- If not Codeschool certif (no badge attribute) -->
    <footer class="card-link">
      <a class="btn-card"
         role="button"
         data-toggle="modal"
         data-target="#myModal"
         *ngIf="!object.badge"
         (click)="getMoreInfo(object.id)">
            More info
      </a>

      <!-- If Codeschool certif (has badge attribute) -->
      <a class="btn btn-primary" [href]="object.url" *ngIf="object.badge" target="_blank">
        More info
      </a>
    </footer>
  </div>

</article>
