<article class="card-reg thumbnail">

  <div class="row">

    <section class="card-image col-xs-4">
      <figure class="img img-round--sm">
        <img [src]="object.image || object.badge" [alt]="object.name || object.title">
      </figure>
    </section>


    <section class="card-info col-xs-8">
        <header>
          <h3>{{ object.name || object.title | translate }}</h3>
        </header>

        <p *ngIf="object.desc">{{ object.desc | translate | ellipsis:75 }}</p>
    </section>

    <footer class="card-link" *ngIf="object.url !== null">
      <!--<a class="btn-card" [href]="object.url" target="_blank" role="button">More info</a>-->
      <a class="btn-card"
         role="button"
         data-toggle="modal"
         data-target="#myModal"
         (click)="getMoreInfo(object.id)">
            More info
      </a>
    </footer>
  </div>

</article>
