<section class="container-filters">
    <!-- Filter by category -->
    <div class="btn-group btn-group-justified">
        <div class="btn-group" *ngFor="let filter of filters; let i = index">
            <!-- we need to double wrap btn-group for buttons -->
            <button class="btn" (click)="onSelect(filter)" [class.selected]="selectedFilter === filters[i]">
                {{ filter }}
                <span *ngIf="filter === ''">All</span>
            </button>
        </div>
    </div>
</section>