<h2>{{ title }}</h2>
{{ 'hello world' | translate }}
{{ 'test' | translate }}
{{ 'testmerge' | translate }}
<button (click)='visible=""'>all</button>
<button (click)='visible="Front-End"'>Front-End</button>
<button (click)='visible="UX"'>UX</button>
<button (click)='visible="Portfolio"'>Portfolios</button>
<ul>
  <li *ngFor="let project of projects | filter:{category:visible}">
    <a (click)="focus=project.id">{{ project.id }} {{ project.title }} {{ project.date | date : "MMM yyyy"}}</a>
  </li>
</ul>
<!-- Now we are binding each iteration of project to the child's project property -->
<project-view *ngFor="let project of projects | filter:{id:focus}" [project]="project"></project-view>
