<button (click)="selectedType='overview'">Overview</button>
<button (click)="selectedType='codeschool'">Codeschool</button>
<div [ngSwitch]="selectedType">
  <div *ngSwitchCase="'overview'">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let diploma of diplomas"
          (mouseover)="focusItem(diploma)" (click)="goTo(diploma)"
          [class.active]="this.focusedItem === diploma ? true : false">
          {{ diploma.info.category }} {{ diploma.info.field }}
      </li>
    </ul>
    <my-preview [focusedItem]="focusedItem"></my-preview>
  </div>
  <div *ngSwitchCase="'codeschool'">
    <profile-cs [profile]="csProfile"></profile-cs>
    <div class="row">
      <div class="col-sm-6 col-md-4" *ngFor="let certif of csCertifs">
        <my-card [object]="certif"></my-card>
      </div>
    </div>
  </div>
</div>
