<div class="container-stretch" [@routeTrans]="'true'">

  <!-- SWITCH -->
  <button (click)="selectedType='overview'">Overview</button>
  <button (click)="selectedType='codeschool'">Codeschool</button>


  <main class="row container-dual" [ngSwitch]="selectedType">

    <!-- ACADEMIC -->
    <div class="col-xs-12 col-sm-4 container-select" *ngSwitchCase="'overview'">
      <ul class="list-group">

        <li class="list-group-item" *ngFor="let diploma of diplomas"
            (mouseover)="focusItem(diploma)" (click)="goTo(diploma)"
            [class.active]="this.focusedItem === diploma ? true : false">

          <label class="text-center-xs wrap-ellipsis-one-line">
            <img class="list-icn block-center-xs" [src]="diploma.images.thumb" [alt]="diploma.name"/>
            <span class="list-label text-center-xs">{{ diploma.name }}</span>
          </label>

        </li>
      </ul>
    </div>

    <!-- CERTIFS -->
    <div class="col-xs-12 col-sm-4 container-select" *ngSwitchCase="'codeschool'">
      <profile-cs [profile]="csProfile"></profile-cs>
      <div class="row">
        <div class="col-sm-6 col-md-4" *ngFor="let certif of csCertifs">
          <my-card [object]="certif"></my-card>
        </div>
      </div>
    </div>


    <!-- PREVIEW -->
    <article class="col-xs-8 container-preview hidden-xs">
      <my-preview [focusedItem]="focusedItem"></my-preview>
    </article>

  </main>

</div>
