.wrap-cookie {
  @include position(fixed, auto, 0px, 0px, 0px);
  background-color: $info;
  color: $light;
  font-size: $font-base;
  opacity: 0.95;
  padding: $gap-md 0 $gap-sm;
  text-align: center;

  p {
    width: 75%;
    margin: auto;
  }
}
