.main-footer {
  background-color: $primary;
  position: relative;

  .footer-social {
    display: flex;
    flex-wrap: wrap;
    padding: $big-indent $base-indent;

    .icn-social {
      @include round(90px);
      @include drop-shadow(false, 0px, 3px, 3px, 0px, $grey);
      background-color: $light;
      cursor: pointer;
      margin: 10px auto 0;
      padding: 20px; // image size / 2
      transition: all 0.4s ease;
    }

    .icn-social:hover {
      @include drop-shadow(false, 0px, 6px, 6px, 0px, $grey);
      transform: translateY(-5px);
    }

    img {
      @extend %block-centred;
    }
  }

  .footer-copyright {
    color: $light;
    font-size: $font-small;
    padding: $big-indent 0;
    text-align: center;

    p {
      margin-bottom: $small-indent;
    }
  }

  .triangle {
    @include triangle('bottom', $light, 50px, 30px);
    @extend %triangles-plugged;
    top: -1px;
  }

}

.footer-backdrop {
  @include drop-shadow(false, 0px, -10px, 30px, 0px, $light);
  margin-top: 20px;
  position: relative;
  background: $light;
  height: 50px;
}
