<div class="footer-backdrop"></div>

<footer class="main-footer">

  <div class="triangle"></div>

  <section class="footer-social">
    <a class="img-wrap" *ngFor="let social of socials" [href]="social.url" target="_blank">
      <figure class="img img-round img-link">
        <img [src]="social.image" [alt]="social.name">
      </figure>
    </a>
  </section>
  
  <ul class="navbar-footer">
    <li class="nav-route" *ngFor="let tab of subMenu" routerLinkActive="active">
      <a [routerLink]="[tab.key]" (click)="setTitle(tab.value)">{{ tab.value | translate }}</a>
    </li>
  </ul>

  <section class="footer-copyright">
    <p>&copy; Kevin Liozon - MIT License - {{ currentYear }}</p>
  </section>

</footer>
