footer {
  background-color: $primary;
  margin-top: 300px;

  .footer-social {
    display: flex;
    flex-wrap: wrap;
    padding: $base-indent;

    .icn-social {
      margin: 0 auto;
      padding: $base-indent;
    }
  }

  .footer-copyright {
    color: $light;
    padding-bottom: $big-indent;
    text-align: center;

    p {
      margin-bottom: $small-indent;
    }
  }
}
