<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <section class="modal-content">

      <header class="modal-header" data-dismiss="modal">
        <button type="button" class="close">&times;</button>
        <h4 class="modal-title">{{ details.name }}</h4>
      </header>

      <div class="modal-body">
        <h5>{{ details.category }}</h5>
        <p>{{ details.desc | translate }}</p>
      </div>

      <footer class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">More</button>
      </footer>

    </section>

  </div>
</div>
