<div id="myModal" class="modal modal-details fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <section class="modal-content">

      <header class="modal-header" data-dismiss="modal">
        <button type="button" class="close">&times;</button>
        <h3 class="modal-title" *ngIf="!details.confidentiality">{{ details.name | translate }}</h3>
        <h3 class="modal-title" *ngIf="details.confidentiality">{{ details.confidentiality | translate }}</h3>
      </header>

      <div class="modal-body wrap-img-txt">
        <figure>
          <span class="img img-round">
            <img [src]="details.image" [alt]="details.name">
          </span>
          <figcaption>
            <h4>{{ details.category }}</h4>
            <!-- If PROJECT -->
            <h4 *ngIf="type === 'project' && details.company">
              <span class="content-prefix">{{ 'as' | translate }}</span>
              {{ details.company.role }}
              <span class="content-prefix">{{ 'at' | translate }}</span>
              <a [href]="details.company.url" target="_blank">{{ details.company.name }}</a>
            </h4>
          </figcaption>
        </figure>

        <section>
          <p>{{ details.desc | translate }}</p>
        </section>

        <section class="img-group" *ngIf="hasSkillsInvolved()">
          <header class="header-sub"><h5>Skills involved</h5></header>

          <figure class="img-wrap" *ngFor="let tech of details.techs">
            <img class="img" [src]="tech.logo" [alt]="tech.name">
            <figcaption class="img-label">{{ tech.name }}</figcaption>
          </figure>
        </section>
      </div>

      <footer class="modal-footer btn-group--modal" *ngIf="details.url || details.github || type === 'project'">
        <!-- If a project -->
        <a class="btn btn-primary" (click)="goTo(details)" *ngIf="type === 'project'" data-dismiss="modal">
          {{ 'Learn More' | translate }}
        </a>
        <!-- If a skill -->
        <a class="btn btn-primary" [href]="details.url" *ngIf="hasUrl() === 'info'" target="_blank">
          {{ 'Learn More' | translate }}
        </a>
        <!-- If not a skill -->
        <a class="btn btn-primary" [href]="details.url" *ngIf="hasUrl() === 'live'" target="_blank">
          {{ 'live' | translate }}
        </a>
        <a class="btn btn-primary" [href]="details.github" *ngIf="details.github" target="_blank">
          Github
        </a>
      </footer>

    </section>

  </div>
</div>
