.modal-details {

  .modal-content {
    min-height: 40rem;
  }

  .img-wrap,
  .img-label {
    display: inline-block;

    .img {
      @include square($img-md);
      margin: auto;
    }
  }

  .img-label {
    margin-top: $gap-sm;
  }

  .modal-footer {
    @include position(absolute, auto, 0px, 0px, 0px);
  }
}
