<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <section class="modal-content">

      <header class="modal-header" data-dismiss="modal">
        <button type="button" class="close">&times;</button>
        <h4 class="modal-title">{{ details.name }}</h4>
      </header>

      <div class="modal-body">
        <figure>
          <span class="img img-modal img-round">
            <img [src]="details.image" [alt]="details.name">
          </span>
          <figcaption>
            <h5>{{ details.category }}</h5>
            <p>{{ details.desc | translate }}</p>
          </figcaption>
        </figure>

        <section class="img-group">
          <header><h5>Skills involved</h5></header>

          <figure class="img-wrap" *ngFor="let tech of details.techs">
            <img class="img" [src]="tech.logo" [alt]="tech.name">
            <figcaption class="img-label">{{ tech.name }}</figcaption>
          </figure>
        </section>
      </div>

    </section>

  </div>
</div>
