<h2>{{ title }}</h2>
<!-- Filter by category -->
<button (click)='visible=""'>All Categories</button>
<button (click)='visible="Front-End"'>Front-End</button>
<button (click)='visible="UX"'>UX</button>

<!-- We can also filter by frequency of use -->
<button (click)='isFrequent(true)' *ngIf="frequentSkill==false">Frequently used only</button>
<button (click)='isFrequent(false)' *ngIf="frequentSkill==true">Randomly used</button>

<ul>
  <li *ngFor="let skill of skills | filter:{category:visible}">
    <h3 *ngIf="frequentSkill==false"><img src="{{ skill.image }}" />{{ skill.title }}</h3>
    <!-- Used frequently only -->
    <h3 *ngIf="frequentSkill==true && skill.frequent==true">{{ skill.image }} {{ skill.title }}</h3>
  </li>
</ul>
