.container-toggle {
  @include position(absolute, 0, 0, auto, auto);

  .label-toggle {
    @include vertical-align(34px);
    float: left;
    margin-left: $small-indent;
    width: 50%;
  }
}

// The switch - the box around the btn-toggle
.toggle {
  float: left;
  display: inline-block;
  height: 34px;
  margin: 0 auto;
  position: relative;
  width: 60px;
}

// Input
.input-toggle {
  display: none; // Hide default HTML checkbox

  &:checked {

    + .btn-toggle {
      background-color: $primary;
    }

    + .btn-toggle::before {;
      -ms-transform: translateX(26px);
      -webkit-transform: translateX(26px);
      transform: translateX(26px);
     }
  }

  &:focus + .btn-toggle { box-shadow: 0 0 1px $primary; }
}

// The slider
.btn-toggle {
  @include position(absolute, 0, 0, 0, 0);
  background-color: $grey;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;

  &::before {
    @include position(absolute, auto, auto, 4px, 4px);
    @include square(26px);
    content: "";
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

@media screen and (max-width: 1024px) {
  .container-toggle {
    position: static;
    margin: 40px auto;
    .toggle, .label-toggle {
      float: none;
      display: block;
    }
    .label-toggle {
      text-align: center;
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .container-toggle {
    @include position(absolute, 0, 0, auto, auto);
    margin: 0 auto;
    .toggle, .label-toggle {
      float: left;
      display: inline-block;
    }
    .label-toggle {
      width: 50%;
    }
  }
}
