.wrap-home {
  .img-group {
    @include flex-layout(wrap, space-around, flex-start, flex-start);
    margin: auto;
    width: 75%;

    .img-wrap {
      margin: auto $gap-big;
    }
  }

  .jumbotron {
    .img-group {
      @include flex-layout(wrap, flex-start, flex-start, flex-start);
      margin: auto 0px $gap-reg;

      .img-wrap {
        margin: auto $gap-reg auto 0px;
      }
    }
  }
}
