<div class="container-stretch" [@routeTrans]="'true'">

  <!-- Filter by category -->
  <section class="container-filters">
    <!-- If res over xs -->
    <div class="btn-group btn-group-justified wrap-switch">
      <div class="btn-group btn-group--filters">
        <button class="btn" (click)="category = 'overview'" [class.selected]="isSelected('overview')">Overview</button>
      </div>
      <div class="btn-group btn-group--filters">
        <button class="btn" (click)="category = 'codeschool'" [class.selected]="isSelected('codeschool')">Codeschool</button>
      </div>
    </div>
  </section>

  <main [ngSwitch]="category">

    <!-- ACADEMIC -->
    <section class="row container-dual">
      <div class="col-xs-12 col-sm-4 container-select" *ngSwitchCase="'overview'">
        <my-list-preview [objects]="diplomas" [type]="'diploma'" (focusedItem)="focusItem($event)"></my-list-preview>
      </div>

      <!-- PREVIEW -->
      <my-preview
        class="col-xs-8 container-preview hidden-xs"
        *ngIf="category === 'overview'"
        [focusedItem]="focusedItem"
        [type]="'diploma'">
      </my-preview>
    </section>

    <!-- CERTIFS -->
    <section class="container" *ngSwitchCase="'codeschool'">

      <article class="jumbotron wrap-jumbo--sm">
        <profile-cs class="row" [profile]="csProfile" [certifs]="csCertifs"></profile-cs>
      </article>

      <section class="row wrap-center">
        <my-card class="col-xs-12 col-sm-4 col-md-3" *ngFor="let certif of csCertifs" [object]="certif"></my-card>
      </section>

    </section>

  </main>

</div>
