.grid-table {
  @include border(1px, 0px, 0px, 1px, $grey, 0px);
  margin-top: $gap-md;

  .grid-table-headings {
    .grid-table-cell {
      background-color: $primary;
      color: $light;
      min-height: 0px;
    }
  }

  .grid-table-cell {
    @include border(0px, 1px, 1px, 0px, $grey, 0px);
    min-height: 20rem;
    padding: $gap-sm;
  }
}
