.wrap-details {
  padding: $gap-big;

  .details-header {
    display: flex;
  }

  .img-gallery {
    @include drop-shadow(false, 0px, 3px, 3px, 0px, $grey);
    @include flex-layout(wrap, flex-start, stretch, center);
    cursor: pointer;
    height: $img-mega;
    overflow: hidden;

    img {
      width: $img-mega;
    }
  }
}
