<h2>DETAILS</h2>
<main *ngIf="type === 'project'">
  {{details.id}}
  {{details?.name}}
  {{details?.info?.class}}
</main>
<main *ngIf="type === 'diploma'">
  {{details.id}}
  {{details.name}}
</main>
<main *ngIf="type === 'role'">
  {{details.id}}
  {{details?.name}}
  <div *ngFor="let project of details.projects" data-toggle="modal" data-target="#myModal" (click)="openModal(project.id, 'project')">
    {{ project.name }}
  </div>
</main>
<my-modal [details]="detailsModal" [type]="typeModal"></my-modal>
