<div class="container" [@routeTrans]="'true'">

  <header>
    <h2>{{ details.name }}</h2>
    <h4>{{ details.category }}</h4>
    <h4 *ngIf="type === 'project'">
      {{ 'as' | translate }}&nbsp;{{ details.company.role }}&nbsp;{{ 'at' | translate }}&nbsp;{{ details.company.name }}
    </h4>
  </header>

  <main>
    <p>{{ details.desc | translate }}</p>
  </main>

  <section class="img-group" *ngIf="type === 'project' || type === 'role'">
    <header><h5>Skills involved</h5></header>

    <figure class="img-wrap" *ngFor="let tech of details.techs">
      <img class="img img-float" [src]="tech.logo" [alt]="tech.name">
      <figcaption class="img-label">{{ tech.name }}</figcaption>
    </figure>
  </section>

  <section class="img-group" *ngIf="type === 'role' || type === 'diploma'">
    <header><h5>Projects</h5></header>

    <figure
      class="img-wrap"
      *ngFor="let project of details.projects"
      data-toggle="modal"
      data-target="#myModal"
      (click)="openModal(project.id, 'project')">
      <span class="img img-round-link">
          <img [src]="project.image" [alt]="project.name">
      </span>
      <figcaption class="img-label">{{ project.name }}</figcaption>
    </figure>
  </section>

  <section class="container">
    <div class="row">
      <my-card
        class="col-xs-12 col-sm-4 col-md-3"
        *ngFor="let project of details.projects"
        [object]="project">
      </my-card>
    </div>
  </section>

  <my-modal [details]="detailsModal"></my-modal>

</div>