.wrap-details {
  padding: $gap-big;

  .details-header {
    display: flex;
  }

  .img-gallery {
    @include drop-shadow(false, 0px, 3px, 3px, 0px, $grey);
    @include flex-layout(wrap, flex-start, stretch, center);
    cursor: pointer;
    height: $img-mega;
    overflow: hidden;

    img {
      width: $img-mega;
    }
  }
}

.btn-group--details {
  @extend .btn-group-line;
  margin: $gap-reg auto;
}

/**
  Media Queries
 */
@media screen and (max-width: 768px) {
  .wrap-details {
    padding: $gap-md;
  }

  .wrap-img-txt .img-round {
    margin: auto auto $gap-big;
    float: none;
  }

  .details-headings {
    clear: both;
  }

  .btn-group--details {
    text-align: center;
  }
}
